/*my stylesheet*/

@import url('https://fonts.googleapis.com/css?family=Iceland|Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    height: 101%;
    font-family: 'PT Sans Narrow', sans-serif;
}
.s1{
    max-width: 75%;
    margin: 30px auto;

}

.titel{
    background: dimgrey;
    color: mistyrose;
    font-family: 'Open Sans', sans-serif;
}
.s1{
    background: dimgrey;
    color:White;
}
section > article > figure > #img{
    border-radius: 10px;
    border: 5px solid mistyrose;
    max-width: 300px;
}
body{
background-color: lightgrey;
 font-family: 'Iceland', cursive;
}

